@font-face {
    font-family: Jetbrains;
    src: url(./jetbrains.ttf);
}
:root {
    --bg: #18181b;
    --tint1: #26262a;
    --fg: #ffffff;
    --theme: #3b83f7;
}
*{
    font-family: "Jetbrains";
}
body {
    background-color: var(--bg);
    color: var(--fg);
    margin: 20px;
}
/* Navbar */
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--tint1);
    border-radius: 15px;
    padding: 15px;
}
/*Date Time*/
#main_time{
    font-size: 60px;
    font-weight: bold;
}
#main_date{
    font-size: 25px;
    font-weight: 600;
}
/* Containers */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: var(--tint1);
    border-radius: 15px;
    padding: 15px;
    min-height: 69vh;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.side{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
/* Inputs */
a{
    margin: 10px;
    font-size: 25px;
    text-decoration: none;
    color: var(--fg);
    background-color: var(--bg);
    border-radius: 15px;
    padding: 10px;
    border-radius: 15px;
    border: 3px solid var(--theme);
    width: 25%;
}
a:hover{
    background-color: var(--theme);
    color: var(--bg);
}
input{
    background-color: var(--bg);
    color: var(--fg);
    font-size: 25px;
    border-radius: 15px;
    height: 30px;
    width: 100%;
    outline: none;
    padding: 15px;
    text-align: center;
    border: 3px solid var(--theme);
    transition: width 1s;
}
.searches > *:nth-child(3){
    border-radius: 0px;
}
.searches > *:nth-child(2){
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: none;
}
.searches > *:nth-child(4){
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: none;
}
img{
    height: 45px;
    margin: 0px 10px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(132deg) brightness(102%) contrast(104%);
}
/* Decoration */
span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--theme);
    border-radius: 15px;
    margin: 4px;
    height: 25px;
    color: var(--bg);
    font-weight: bold;
    padding: 0px 15px;

}
span:hover{
    background-color: var(--bg);
    color: var(--fg);
    cursor:grab;
}

.one{
    width: 10%;
}
.two{
    width: 20%;
}
.three{
    width: 30%;
}
.four{
    width: 40%;
}
.five{
    width: 50%;
}
.six{
    width: 60%;
}
.seven{
    width: 70%;
}
.eight{
    width: 80%;
}


.red{
    background-color: #FD8A8A;
}
.green{
    background-color: #F1F7B5;
}
.yellow{
    background-color: #A8D1D1;
}
.blue{
    background-color: #9EA1D4;
}

.design{
    margin: 20px;
}
.design > *{
    justify-content: stretch;
}