@font-face {
    font-family: Quicksand;
    src: url(./Quicksand-VariableFont_wght.ttf)
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
:root {
    --bg_grad1: #de6262 ;
    --bg_grad2: #ffb88c;
    --bg_grad3: #eecda3 ;
    --bg_grad4: #ef629f;
    --themed: #000000;
    --theme2: #00ff8c;
    --text: black;
}
body {
    background: linear-gradient(-45deg, var(--bg_grad1), var(--bg_grad2), var(--bg_grad3), var(--bg_grad4));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    color: var(--text);
    text-align: center;
    margin: 0px 10px 0px 10px;
    padding-top: 15px;
    font-family: 'Quicksand';
}
#main_time{
    font-size: 70px;
    font-weight: bold;
}
#main_date{
    font-size: 25px;
    font-weight: 600;
}
.left{
    float: left;
    width: 45vw;
    text-align: center;
    padding: 10px;
}
.right{
    padding: 10px;
    float: right;
    width: 45vw;
    text-align: center;
}

.btn{
    height: 60px;
    width: 200px;
    font-size: 25px;
    font-weight: 1000;
    color: var(--themed);
    border-color: var(--themed);
    border-width: 5px;
}
.btn:hover{
    color:var(--theme2) !important;
    background-color: var(--themed) !important;
    border-color: var(--theme2) !important;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;

}
.grid-item {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}
/*Input section*/
.input{
    margin: 10px;
    padding: 15px;
    height: 80px;
    border: 5px solid var(--themed);
    font-size: 30px;
    font-weight: 800;
    color: var(--themed);
    transition: .5s;
    width: 47vw;
    border-radius: 10px ;
}
input:focus{
    outline: none;
    border-color: var(--themed);
    box-shadow: 0 0 8px var(--themed) inset;
}
#google_com{
    background: url(./google.svg);
    background-size: 7%;
    background-position: 98%;
    background-repeat: no-repeat;
}
#youtube_com{
    background: url(./youtube.svg);
    background-size: 7%;
    background-position: 98%;
    background-repeat: no-repeat;
}
#drive_com{
    background: url(./google-drive.svg);
    background-size: 7%;
    background-position: 98%;
    background-repeat: no-repeat;
}